.Rproj.user
.Rhistory
.RData
.Ruserdata
TradeOut.csv
ICOWdyadyr.dta
ICOWsettle.dta
icow_part_cyr.csv
icow_part_dyr.csv
mpd2018.xlsx
bdm2s2_nation_year_data_may2002.dta
codebooks/
ICOWclaimag.dta
data/
dataOriginals/
trash/
icow_part_cyr_ct.csv
Data Analysis.Rproj
.Rproj.user/
.Rproj.user (Selective Sync Conflict 1)/
tables/
.Rproj.user (Selective Sync Conflict 2)/C9B7010C/sources/prop/5301B4CA
*Selective Sync Conflict*